requests
beautifulsoup4
pandas
numpy
lxml
selenium
webdriver-manager
undetected-chromedriver
matplotlib
seaborn
wordcloud
scikit-learn
nltk
transformers
torch
sentencepiece
lime
streamlit
google-play-scraper
app-store-scraper
xgboost
tqdm